<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light absolute-top">
    <div class="container">

      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}

      <button class="navbar-toggler order-2 order-md-2" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse order-3 order-lg-1 collapse show" id="navbar-left">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ "/" | relative_url }}">
              <span class="hlink">Home</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Posts</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="post-image.html">Image</a>
              <a class="dropdown-item" href="post-video.html">Video</a>
            </div>
          </li>
        </ul>
      </div>

      <a class="navbar-brand mx-auto order-1 order-md-3" href="{{ "/" | relative_url }}">
        <logo><img src="{{site.baseurl}}/assets/iwonder-logo.png" alt="LOGO" style="width: 40px;"></logo>{{site.title| escape }}
      </a>

      <div class="navbar-collapse order-4 order-md-4 collapse show" id="navbar-right">
        <ul class="navbar-nav ms-auto">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
              <li class="nav-item">
                <a class="nav-link" href="{{ my_page.url | relative_url }}">
                  <span class="hlink">{{ my_page.title | escape }}</span>
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
        
        <form class="form-inline" role="search">
          <input class="search js-search form-control form-control-rounded me-sm-2" type="text" title="Enter search query here.." placeholder="Search.." aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
</header>
