// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
// @import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
// @import "../node_modules/bootstrap/scss/maps";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
// @import "../node_modules/bootstrap/scss/utilities";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// @import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    900px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import "header", "footer", "post", "home";


/**
 * Links
 */
#overrides a {
  color: black;
  text-decoration: none;
  
  .username {
    color: $grey-color;
  }

  .hlink {
    color: $grey-color;
  }

  &:visited {
    color: darken(black, 15%);
  }

  &:hover {
    color: $grey-color-dark;
    // text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  // border-left: 4px solid $grey-color-light;
  // padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
  
}


/* TOC */
// Phone
@media only screen and (max-width:500px){
  .toc {
    float: right;
    max-width: 1in;
    position:static;
        padding-inline: 20px;
    padding-block: 10px;
        outline: 1px solid lightgray;
        font-size: 90%;
        align-items: center;
        margin-bottom: 30px;
    margin-left: 2%;
  }  
}


@media only screen and (max-width:1300px) and (min-width:500px){
.toc {
  float: right;
  max-width: 1.8in;
  position:static;
      padding-inline: 20px;
  padding-block: 10px;
      outline: 1px solid lightgray;
      font-size: 90%;
      align-items: center;
      margin-bottom: 30px;
  margin-left: 2%;
}  
}

@media only screen and (min-width:1300px) {
.toc {
  left:11.5in;
  float: right;
  position: fixed;
  top: 90px;
  padding-inline: 20px;
  padding-block: 15px;
      outline: 1px solid lightgray;
  max-width: 2in;
  font-size: 85%;
}  
}



