.site-footer { 
  border-top: 1px solid #e8e8e8; 
  padding: 10px 0px;
  font-family: $base-font-family;

  .footer-heading{
      @include relative-font-size(1.125);
      margin-bottom: $spacing-unit / 2;
      color: $grey-color;
      padding-top: 8px;
  }

  @media only screen and (min-width: 1000px) {
    .container{
      padding: 10px 3em;
    }
  }

  @media only screen and (max-width: 400px) {
    .nav-link {
        display: none;
    }
  }
}


.nav .nav-link {
    color: $grey-color !important;

    &:hover {
      color: white !important;
    }
  }

.username{
  &:hover {
    color: white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }
}

.svg-icon{
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color};
  margin-right: 5px;
  padding-left: -15px;
  margin-left: -1.5cm;
  vertical-align: text-top;
}

