/*
Style for header and navigation bar
*/

.navbar{
    font-family: $base-font-family;

    .navbar-brand{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:x-large;
        font-weight: 650;
        padding-right: 1cm;
        padding-left: 1cm;
    }

    .form-control{
        width: 100%;
        border-radius: 1rem;
    }

    

}
