.post {
    .container {
        padding-inline: 10vw;
    }
    .card {
        padding: 10px;
        border: none;
        border-radius: 0;
        .card-meta{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: .9em;
            color: $grey-color;
        }
        .card-title{
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 2.5em;
        }
    }
    .card-header{
        background-color: #ffffff;
        border-bottom: 0 solid rgba(0,0,0,.125);
        margin-bottom: 0;
        padding: .75rem 1.5rem;
    }

    .card-img {
        max-width: 800px;
        margin: auto;
    }

    .content {
        text-align: justify;

        img {
            max-width: 500px;
            margin: 10px
        }
    }

    blockquote {
        text-align: center;
        font-size: 1.5em;
    }
}