{{ define "main" }}
<div class="home pt-4">
  <div class="container">

    <div class="row mb-4">
      <div class="col-12 text-center">
        <h1 class="display-4">{{ .Title }}</h1>
        <p class="text-muted">Filtered by category</p>
      </div>
    </div>

    {{ if .Pages }}
      <div class="row" data-masonry='{"percentPosition": true }'>
        {{ range .Pages.ByDate.Reverse }}
          <div class="col-lg-4 col-md-6">
            <article class="card mb-4">
              <header class="card-header">
                <div class="card-meta">
                  <time class="timeago">{{ .Date.Format "Jan 2, 2006" }}</time>
                  {{ with .Params.categories }}
                    in 
                    {{ $len := len . }}
                    {{ range $index, $category := . }}
                      <a href="{{ printf "categories/%s/" ($category | urlize) | absURL }}" class="card-category text-decoration-none position-relative z-3" style="color: var(--brand-color);">{{ $category }}</a>{{ if ne (add $index 1) $len }}, {{ end }}
                    {{ end }}
                  {{ end }}
                </div>
                <a href="{{ .RelPermalink }}" class="stretched-link text-decoration-none">
                  <h4 class="card-title">{{ .Title }}</h4>
                </a>
              </header>
                {{ with .Params.image }}
                  <img class="card-img" style="border-radius: 0;" src="{{ . | absURL }}" alt="">
                {{ end }}
              <div class="card-body">
                <p class="card-text">{{ .Summary }}</p>
              </div>
            </article>
          </div>
        {{ end }}
      </div>
    {{ end }}

  </div>
</div>
{{ end }}
