<footer class="site-footer bg-dark">
  <data class="u-url" href="{{ .Site.BaseURL }}"></data>
  <div class="container">

    <nav class="nav nav-pills nav-fill">
      <a class="footer-heading" style="color: grey;" href="{{ .Site.BaseURL }}">
        <logo><img src="{{ "images/iwonder-logo.png" | absURL }}" alt="LOGO" height="30px"></logo>{{ .Site.Title }}
      </a>
      <a class="nav-item">
        {{ range .Site.Menus.main }}
          {{ if ne .Name "Home" }}
          <li>
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        {{ end }}
      </a>
    </nav>

    <hr style="opacity:0.3; color:gray; margin-top: 0px; margin-bottom: 10px; padding: -1px;">

    <div class="row justify-content-between">
      <div class="col-md-4">
        <ul class="contact-list">
          {{ partial "social.html" . }}
        </ul>
      </div>
      <div class="col-md-6 text-md-end" style="color:gray;">
        {{ .Site.Params.description }}
      </div>
    </div>

  </div>
</footer>
