<header>
  <nav class="navbar navbar-expand-md bg-body absolute-top">
    <div class="container">

      <button class="navbar-toggler order-2 order-md-2" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse order-3 order-lg-1 collapse show" id="navbar-left">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}">
              <span class="hlink">Home</span>
            </a>
          </li>
        </ul>
      </div>

      <a class="navbar-brand mx-auto order-1 order-md-3" href="{{ .Site.BaseURL }}">
        <logo><img src="{{ "images/iwonder-logo.png" | absURL }}" alt="LOGO" style="width: 40px;"></logo>{{ .Site.Title }}
      </a>

      <div class="navbar-collapse order-3 order-md-3 collapse show" id="navbar-right">
        <ul class="navbar-nav ms-auto">
          {{ range .Site.Menus.main }}
            {{ if ne .Name "Home" }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | absURL }}">
                <span class="hlink">{{ .Name }}</span>
              </a>
            </li>
            {{ end }}
          {{ end }}
          <li class="nav-item d-flex align-items-center ms-3">
            <button id="theme-toggle" class="btn btn-outline-secondary rounded-circle" style="width: 40px; height: 40px; padding: 0; display: flex; align-items: center; justify-content: center;" aria-label="Toggle dark mode">
              <i class="bi bi-moon-stars-fill" id="theme-icon"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
