---
layout: default
---
<div class="page container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <article class="card mb-4">
        <header class="card-header">
          <h1 class="card-title">{{ page.title | escape }}</h1>
        </header>

        {%- if page.image -%}
          <img src="{{- page.image | relative_url -}}" alt="i wonder" class="img-fluid" style="width: 500px;">
        {%- endif -%}
      
        <div class="card-body">
          {{ content }}
        </div>
      
      </article>
    </div>
  </div>
</div>
